In [1]:
!jupyter nbextension enable --py gmaps

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store csv created in part one into a DataFrame
weather_file = "../WeatherPy/weather_data.csv"
weather_data = pd.read_csv(weather_file)
weather_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.6500,115.3333,19.44,96,12,2.75,AU,1617062425
1,1,Bubaque,11.2833,-15.8333,24.37,71,12,6.20,GW,1617062425
2,2,São Filipe,14.8961,-24.4956,20.76,73,73,5.54,CV,1617062136
3,3,Salalah,17.0151,54.0924,27.00,54,0,2.06,OM,1617062106
4,4,Rikitea,-23.1203,-134.9692,26.01,70,8,6.85,PF,1617062312

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of humidity
locations = weather_data[["Lat", "Lng"]]
humidity = weather_data["Humidity"].astype(float)

In [5]:
figure = gmaps.figure(center = [0,0] ,zoom_level = 2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                               dissipating=False, max_intensity=100,
                               point_radius = 4)
figure.add_layer(heat_layer)
figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down cities that fit criteria and drop any results with null values
ideal_weather_df = weather_data.loc[(weather_data["Max Temp"] >21) & (weather_data["Max Temp"] <27) & (weather_data["Wind Speed"] <10) & (weather_data["Cloudiness"] == 0)]
ideal_weather_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
19,19,Caravelas,-17.7125,-39.2481,25.67,73,0,3.55,BR,1617062206
34,34,Belmonte,-15.8631,-38.8828,26.00,73,0,2.57,BR,1617062066
71,71,Pisco,-13.7000,-76.2167,22.00,68,0,9.26,PE,1617062190
115,115,Saint-Philippe,-21.3585,55.7679,25.00,73,0,3.09,RE,1617062070
130,130,Port Augusta,-32.5000,137.7667,23.33,82,0,1.13,AU,1617062457
134,134,Emerald,-23.5333,148.1667,26.11,41,0,6.69,AU,1617062228
254,254,Lima,-12.0432,-77.0282,22.78,73,0,4.63,PE,1617062264
357,357,Cockburn Town,21.4612,-71.1419,25.29,82,0,9.95,TC,1617062223
372,372,Saint-Joseph,-21.3667,55.6167,25.00,73,0,3.09,RE,1617062185
384,384,Upington,-28.4478,21.2561,23.00,33,0,2.57,ZA,1617062514
421,421,Ruwi,23.5996,58.5507,26.00,34,0,1.03,OM,1617062522
519,519,Neuquén,-38.9516,-68.0591,24.00,29,0,2.57,AR,1617062548

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates

In [8]:
hotel_df = ideal_weather_df[["City","Country","Lat","Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df

<ipython-input-8-3474f63fbc32>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

               City Country      Lat       Lng Hotel Name
19        Caravelas      BR -17.7125  -39.2481
34         Belmonte      BR -15.8631  -38.8828
71            Pisco      PE -13.7000  -76.2167
115  Saint-Philippe      RE -21.3585   55.7679
130    Port Augusta      AU -32.5000  137.7667
134         Emerald      AU -23.5333  148.1667
254            Lima      PE -12.0432  -77.0282
357   Cockburn Town      TC  21.4612  -71.1419
372    Saint-Joseph      RE -21.3667   55.6167
384        Upington      ZA -28.4478   21.2561
421            Ruwi      OM  23.5996   58.5507
519         Neuquén      AR -38.9516  -68.0591

In [9]:
# Set parameters to search for a hotel


# Iterate through 

    # get lat, lng from df

    
    # Use the search term: "Hotel" and our lat/lng
   

    # make request and print url
    
    
    # convert to json
   
    
    # Grab the first hotel from the results and store the name

In [10]:
hotels = []

search = "hotel"
target_type = "hotel"
radius = 5000

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [11]:
for i in range(len(hotel_df)):
    lat = hotel_df["Lat"]
    lng = hotel_df["Lng"]

    params = {
        "location": f"{lat},{lng}",
        "keyword": search,
        "radius": radius,
        "types": target_type,
        "key": g_key}


    requested = requests.get(base_url, params)
    response = requested.json()
    
    try:
        hotel_df.append(response['results'][0]['name'])
    except:
        hotel_df.append("")
        print(f"Missing field/result... skipping.")
        
        
hotel_df

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig